@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

:root {
  --navbar-bg: white;
  --active: #f1f5f9;
  --category: #1e2939;
  --input-bg: #f3f4f6;
  --border-card: #e5e7eb;
  --dark-border: #d1d5dc;
}

[data-theme='dark'] {
  --navbar-bg: #1f2937;
  --active: black;
  --category: white;
  --input-bg: #1f2937;
  --border-card: #2a2c33;
  --dark-border: #474747;
}
