@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

:root {
  --navbar-bg: white;
  --active: #f1f5f9;
  --category: #1e2939;
  --input-bg: #f3f4f6;
  --border-card: #e5e7eb;
  --dark-border: #d1d5dc;
}

[data-theme='dark'] {
  --navbar-bg: #15191e;
  --active: black;
  --category: white;
  --input-bg: #1f2937;
  --border-card: #2a2c33;
  --dark-border: #474747;
}

body {
  font-family: 'Urbanist', sans-serif;
}

@keyframes float {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 1s ease-in-out infinite;
}

@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}
